.pagination .nav-links .page-numbers,
.card-detail-more a,
.back-to-main-page a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: transparent;
  border-radius: 0px;
  font-size: 14px;
  line-height: 1;
  padding: 7px 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}
input[type="submit"] {
  height: 40px;
}
