/*--------------------------------------------------------------
##gutenberg support
--------------------------------------------------------------*/
figure.alignfull,
figure.alignwide {
  padding: 0;
}

.aligncenter {
  text-align: center;
}

figure.wp-block-image img {
  width: 100%;
}
body.full-width-content .alignwide {
  max-width: 100vw;
}

.entry-content ol:not([class*="wp-"]),
.entry-content ul:not([class*="wp-"]) {
  padding-left: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.entry-content ol:not([class*="wp-"]).alignwide,
.entry-content ul:not([class*="wp-"]).alignwide {
  padding-left: 30px;
}
.entry-content ol:not([class*="wp-"]).alignfull,
.entry-content ul:not([class*="wp-"]).alignfull {
  margin-left: calc(50% - 50vw - 10px);
  padding-left: 40px;
}
.entry-content ol:not([class*="wp-"]) {
  list-style: decimal;
}
.entry-content ul.wp-block-latest-posts,
.entry-content ul:not([class*="wp-"]) {
  list-style: disc;
}
.entry-content ol:not([class*="wp-"]) li,
.entry-content ul:not([class*="wp-"]) li {
  padding-bottom: 5px;
  padding-top: 5px;
}

.entry-content ol:not([class*="wp-"]) ol,
.entry-content ol:not([class*="wp-"]) ul,
.entry-content ul:not([class*="wp-"]) ol,
.entry-content ul:not([class*="wp-"]) ul {
  margin-bottom: 0;
}
.entry-content ol:not([class*="wp-"]) ol li:last-child,
.entry-content ol:not([class*="wp-"]) ul li:last-child,
.entry-content ul:not([class*="wp-"]) ol li:last-child,
.entry-content ul:not([class*="wp-"]) ul li:last-child {
  padding-bottom: 0;
}

p.has-drop-cap:not(:focus):first-letter {
  font-weight: bold;
}

body.single-content-mode-boxed.page .breadcrumb-trail.breadcrumbs,
body.single-content-mode-boxed.single .breadcrumb-trail.breadcrumbs {
  padding: 20px 0px;
}

body.single-content-mode-boxed article.af-single-article {
  background-color: #fff;
  margin-bottom: 20px;
}
body.single-content-mode-boxed
  article.af-single-article
  .color-pad
  .read-details.color-tp-pad {
  padding: 0;
}

body.full-width-content:not(.single-content-mode-boxed) .alignfull {
  margin-left: calc(50% - 50vw - 10px);
  margin-right: calc(50% - 50vw - 10px);
  max-width: 100vw;
  width: 100vw;
}
body:not(.full-width-content):not(.single-content-mode-boxed)
  article
  .alignwide {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  body.single-content-mode-boxed article.af-single-article {
    padding: 5.34em 6.67em;
  }

  body.single-content-mode-boxed .af-single-article .alignwide {
    margin-left: -30px;
    margin-right: -30px;
    max-width: unset;
    width: unset;
  }
  body.single-content-mode-boxed .af-single-article .alignfull {
    margin-left: -6.67em;
    margin-right: -6.67em;
    max-width: unset;
    width: unset;
  }
  body.full-width-content:not(.single-content-mode-boxed) .alignwide {
    margin-left: -100px;
    margin-right: -100px;
    max-width: unset;
    width: unset;
  }
}

@media (max-width: 1200px) {
  body.single-content-mode-boxed article.af-single-article {
    margin: 0;
    padding: 3.34em 2.4em;
  }
  body.single-content-mode-boxed .af-single-article .alignwide {
    margin-left: -20px;
    margin-right: -20px;
  }
  body.single-content-mode-boxed .af-single-article .alignfull {
    margin-left: -2.4em;
    margin-right: -2.4em;
  }
}

@media (max-width: 921px) {
  body.single-content-mode-boxed article.af-single-article {
    padding: 1.5em 2.14em;
  }
  body.single-content-mode-boxed .af-single-article .alignwide {
    margin-left: -20px;
    margin-right: -20px;
  }
  body.single-content-mode-boxed .af-single-article .alignfull {
    margin-left: -2.14em;
    margin-right: -2.14em;
  }
}

@media (max-width: 544px) {
  body.single-content-mode-boxed article.af-single-article {
    padding: 1.5em 1em;
  }
  body.single-content-mode-boxed .af-single-article .alignwide {
    margin-left: -10px;
    margin-right: -10px;
    max-width: unset;
    width: unset;
  }
  body.single-content-mode-boxed .af-single-article .alignfull {
    margin-left: -1em;
    margin-right: -1em;
    max-width: unset;
    width: unset;
  }
}

@media only screen and (max-width: 480px) {
  .wp-block-media-text {
    display: block;
  }
  .wp-block-media-text .wp-block-media-text__media {
    margin: 10px auto;
  }
  .wp-block-media-text .wp-block-media-text__content {
    padding: 0;
  }
}
