.carousel-news-wrap {
  @include flexbox;
  @include flex-wrap(wrap);

  &.has-space {
    margin: 0 -15px;
    &.slick-slider {
      margin: 0;
    }
  }
  &.column-1 {
    article {
      width: 100%;
      margin-bottom: 0;
    }
    &.has-space {
      article {
        width: calc(100% - 30px);
        margin: 0 15px 30px;
      }
    }
  }

  &.column-2 {
    article {
      width: 50%;
      margin-bottom: 0;
    }
    &.has-space {
      article {
        width: calc(50% - 30px);
        margin: 0 15px 30px;
      }
    }
  }
  &.column-3 {
    article {
      width: 33.33%;
      margin-bottom: 0;
    }
    &.has-space {
      article {
        width: calc(33.33% - 30px);
        margin: 0 15px 30px;
      }
    }
  }
  &.column-4 {
    article {
      width: 25%;
      margin-bottom: 0;
    }
    &.has-space {
      article {
        width: calc(25% - 30px);
        margin: 0 15px 30px;
      }
    }
  }
  &.column-5 {
    article {
      width: 20%;
      margin-bottom: 0;
    }
    &.has-space {
      article {
        width: calc(20% - 30px);
        margin: 0 15px 30px;
      }
    }
  }

  &.slick-slider {
    display: block;

    &.column-1,
    &.column-2,
    &.column-3,
    &.column-4,
    &.column-5 {
      article {
        width: 100%;
      }
      &,
      &.has-space {
        article {
          margin: 0 0 30px;
          width: 100%;
        }
      }
    }
  }

  .slick-list {
    margin: 0 -15px;
  }
  .slick-slide {
    padding: 0 15px;
  }

  article {
    figure {
      img {
        width: 100%;
      }
    }

    .post-content {
      @extend %absolute;
    }

    &:before {
      @extend %overlay;
    }

    &:hover figure img {
      @extend %scaleimg;
    }
  }

  &.no-space {
    .slick-list {
      margin: 0;
    }

    .slick-slide {
      padding: 0;
    }
  }
}

.slick-slider {
  .slick-arrow {
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &:before {
      font-family: FontAwesome;
    }

    &.slick-prev {
      left: -20px;
      &:before {
        content: "\f104";
      }
    }

    &.slick-next {
      right: -20px;
      &:before {
        content: "\f105";
      }
    }
  }

  &:hover {
    .slick-arrow {
      opacity: 1;

      &.slick-prev {
        left: -15px;
      }
      &.slick-next {
        right: -15px;
      }
    }
  }
}
.featured-news {
  .slick-slider {
    .slick-arrow {
      top: 5px;
      transform: translate(0);

      &.slick-prev {
        left: auto;
        right: 36px;
      }
      &.slick-next {
        right: 5px;
      }
    }

    &:hover {
      .slick-arrow {
        &.slick-prev {
          left: auto;
          right: 36px;
        }
        &.slick-next {
          right: 5px;
        }
      }
    }
  }
}
