.news-layout-one {
  .news-layout-wrap {
    @include flexbox();
    @include flex-wrap(wrap);
  }

  article {
    @include flexbox();
    @include flex-wrap(wrap);
    @extend %box-shadow;
    width: 100%;
    flex-grow: 1;

    .post-content {
      padding: 30px;
      width: 100%;
    }
    figure {
      width: 30%;

      & + .post-content {
        width: 70%;
      }
    }

    &:hover {
      @extend %box-shadow-hover;
    }

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      width: calc(50% - 15px);
      box-shadow: none;

      @media screen and (max-width: 640px) {
        width: 100%;
      }

      &:hover {
        box-shadow: none;

        figure img {
          @extend %scaleimg;
        }
      }
      &:before {
        @extend %overlay;
      }
      figure {
        width: 100%;

        img {
          width: 100%;
        }

        & + .post-content {
          width: 100%;
          @extend %absolute;
        }
      }
    }
    &:nth-last-of-type(1) {
      margin-left: 15px;
      @media screen and (max-width: 640px) {
        margin-left: 0;
      }
    }
    &:nth-last-of-type(2) {
      margin-right: 15px;
      @media screen and (max-width: 640px) {
        margin-right: 0;
      }
    }
  }
}
