.news-layout-two {
  .news-layout-wrap {
    @include flexbox() @include flex-wrap(wrap);
  }

  article {
    width: calc(50% - 15px);
    margin-right: 15px;
    @extend %box-shadow;

    @media screen and (max-width: 540px) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      @extend %box-shadow-hover;
    }

    figure {
      img {
        width: 100%;
      }
    }
    &:nth-of-type(2n) {
      margin-right: 0;
      margin-left: 15px;

      @media screen and (max-width: 540px) {
        margin-left: 0px;
      }
    }

    .post-content {
      padding: 15px;
    }
  }
}
