.video-gallery-section {
  .heading {
    // max-width: 1270px;
    // margin-left: auto;
    // margin-right: auto;

    // @media screen and (max-width: 1300px) {
    //   margin-left: 15px;
    //   margin-right: 15px;
    // }
  }

  padding: 30px;
  background-color: #1a1d20;

  .video-tabs {
    padding: 0;
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include flex-direction(row-reverse);
    .video-titles {
      width: 40%;
      padding-left: 15px;
      overflow-y: auto;
      direction: rtl;
      margin-bottom: 0px;
      overflow-y: auto;
      counter-reset: section;

      @media screen and (max-width: 768px) {
        width: 100%;
        padding-left: 0;
        direction: ltr;
      }

      & + .video-container {
        width: 60%;
        padding-right: 15px;

        @media screen and (max-width: 768px) {
          width: 100%;
          padding-right: 0;
        }

        .tab-content {
          display: none;

          &.current {
            display: block;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          font-size: 18px;
          direction: ltr;
          margin-bottom: 15px;
          width: 100%;
          padding: 15px 15px 15px 67px;
          border-width: 1px;
          border-style: solid;
          width: 100%;
          cursor: pointer;
          text-align: left;
          position: relative;
          @include flexbox();
          @include align-items(center);
          @include justify-content(flex-start);
          min-height: 70px;
          


          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            counter-increment: section;
            content: counter(section);
            width: 40px;
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            border-width: 0 0 4px 0;
            border-style: solid;
            border-color: transparent;
          }

          &:last-child {
            margin-bottom: 0;

            @media screen and (max-width: 768px) {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  article {
    overflow: hidden;
    margin-bottom: 0;
    position: relative;

    figure {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & + .post-content {
        @extend %absolute;
      }

      &:before {
        @extend %overlay;
      }
    }

    .video-icon {
      width: 60px;
      height: 60px;
      text-align: center;
      display: block;
      cursor: pointer;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 9;

      &:before {
        content: "\f04b";
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 60px;
      }

      &:after {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        left: 5px;
        top: 5px;
        border-width: 2px;
        border-style: solid;
      }
    }

    &:hover {
      figure img {
        @extend %scaleimg;
      }
    }
  }
}

// .news-area-wrap {
//   &.news-full {
//     .video-gallery-section {
//       width: 100vw;
//       position: relative;
//       margin-left: -50vw;
//       left: 50%;
//       padding: 60px 0;

//       .news-layout-wrap {
//         max-width: 1300px;
//         padding: 0 15px;
//         margin: 0 auto;
//       }
//     }
//   }
// }

.small-news-area {
  .video-gallery-section {
    .video-tabs {
      .video-titles {
        width: 100%;
        padding-left: 0;
        direction: ltr;
        height: auto !important;

        ul {
          li {
            &:last-child {
              margin-bottom: 30px;
            }
          }
        }

        & + .video-container {
          width: 100%;
          padding-right: 0px;
        }
      }
    }
  }
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0;
}
