@import "featured-news";
@import "carousel_news";
@import "tab_news";
@import "newslayout_one";
@import "newslayout_two";
@import "newslayout_three";
@import "masonery_layout";
@import "full_banner_slider";
@import "news-layout-four";
@import "video-gallery-section";
@import "tab_section";
@import "popular_section";
@import "author-info";
@import "subscribe_section";
@import "contact_form";
@import "map_section";
