.screen-reader-text {
    
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    font-size: 15px;
    font-weight: normal;
    @include border-radius(3px,3px,3px,3px);

    &:hover,
    &.active,
    &:focus{
        box-shadow: none;
        clip: auto !important;
        display: block;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        -ms-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
        -o-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
    }
    

    &:focus {
        outline: thin dotted blue;
    }
}