.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.main-navigation ul:before,
.main-navigation ul:after,
.news-layout-four .news-layout-wrap:before,
.news-layout-four .news-layout-wrap:after,
.container:before,
.container:after,
.widget-post-author:before,
.widget-post-author:after,
.comment-respond form:before,
.comment-respond form:after,
.news-ticker-content ul a:before,
.news-ticker-content ul a:after,
.menu:after,
.menu:before,
.comment-navigation:before,
.post-navigation:before,
.posts-navigation:before,
.comment-navigation:after,
.post-navigation:after,
.posts-navigation:after {
  @include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.main-navigation ul:after,
.news-layout-four .news-layout-wrap:after,
.container:after,
.widget-post-author:after,
.comment-respond form:after,
.news-ticker-content ul a:after,
.menu:after,
.comment-navigation:after,
.post-navigation:after,
.posts-navigation:after {
  @include clearfix-after;
}
