.navbar-main-wrap {
  position: relative;
  @include flexbox();
  min-height: 50px;
}
.navbar-wrap {
  @include flexbox();
  width: calc(100% - 117px);
  @include flex-grow(1);

  a.navbar-home {
    width: 50px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border-width: 1px;
    border-style: solid;
    font-size: 22px;
    margin-right: 18px;
  }
}
.navbar-icons {
  width: 117px;
  @include flexbox();
  @include justify-content(flex-end);
  margin-left: auto;

  .follow-us,
  .search-toggle {
    width: 50px;
  }
  .follow-us {
    height: 100%;
  }
}
.search-toggle {
  cursor: pointer;
  font-size: 0;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  i {
    font-size: 14px;
    text-align: center;
  }

  &.open i:before {
    content: "\f00d";
  }
}
.search-header {
  position: absolute;
  top: 110%;
  right: 0;
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  max-width: 320px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  &.open {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  form {
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    position: relative;

    input[type="submit"] {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
    }
  }
}

/*box-shadow*/

%box-shadow {
  box-shadow: 0px 0px 15px 0px rgba(162, 154, 154, 0.13);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

%box-shadow-hover {
  box-shadow: 0 20px 40px 0 rgba(28, 30, 35, 0.2);
}

.navbar {
  border-width: 1px 0 1px 0;
  border-style: solid;
  @extend %box-shadow;
}

.toggle-menu {
  background-color: #4db2ec;
  margin-left: auto;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  padding-top: 16px;
  display: none;

  span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto 5px;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }
}
