.news-ticker + .navbar,
.top-header + .news-ticker,
.navbar + .news-ticker,
.top-header + .navbar,
.news-ticker + .top-header {
  margin-top: 15px;
}
.navbar + .news-ticker {
  margin-top: 15px;
}
.news-ticker-wrap {
  @include flexbox();
  @include align-items(center);
  overflow: hidden;
}
.news-ticker-caption {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .alert-spinner {
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 7px;
  }

  .double-bounce1,
  .double-bounce2 {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    top: -2px;
    left: 0;
    animation: sk-bounce 2s infinite ease-in-out;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
  }
  .double-bounce2 {
    animation-delay: -1s;
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.news-ticker-content ul {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;

  a {
    display: block;
  }

  figure {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 10px 0 0;

    img {
      height: 20px;
      width: 100%;
      object-fit: cover;
    }
  }
}
.news-ticker {
  &.layout1 {
    ul {
      height: 20px;
      overflow: hidden;
    }
  }
}
.layout2 {
  .news-ticker-caption {
    padding: 12px 20px;
  }
  .news-ticker-content {
    ul {
      overflow: hidden;
      li {
        margin: 0 15px;
        max-width: 320px;
      }
    }

    figure {
      width: 40px;
      height: 40px;
      margin: 3px 10px 0 0;

      img {
        height: 40px;
      }
    }
  }
}
.layout2 {
  .news-ticker-content {
    .js-marquee {
      @include flexbox();
    }
    li {
      display: inline-block;
      vertical-align: top;
    }
  }
}
