.page-title{
    margin-top:15px;
    line-height:1;
}

.page-title-wrap{
    padding:10px;
    @extend %box-shadow;

    ul{
        padding:0;
        margin:0;
        list-style: none;

        li{
            display:inline-block;
            vertical-align:top;
            margin-left:15px;
            padding-left:20px;
            position: relative;
            color:#252525;
            text-transform:uppercase;

            &:before{
                content:'/';
                position: absolute;
                left:0;
                top:0;
            }

            &:nth-of-type(1){
                margin-left:0;
                padding-left:0;

                &:before{
                    content:none;
                }
            }
        }
    }
}
