h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-top:0;
	margin-bottom:12px;
	font-weight:400;
}
h1 {
	font-size:36px;
}

h2 {
	font-size:30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}